<h2>{{title.title}}</h2>
<div>
    <div>
        <label for="search">{{label.search}}</label>
    </div>
    <div>
        [(ngModel)]
        <input type="text" [(ngModel)]="filter" name="search">
    </div>
    <div>
        [ngModel]
        <input type="text" (blur)="onBlur()" [ngModel]="filter" name="search">
    </div>
    <div>
        (click)<button (click)="onClick()">{{btn.search}}</button>
    </div>
    <div (dblclick)="filter = ''">
        {{filter}}
    </div>
</div>
<div class="product">
    {{6+7}}
    <div>

        {{product.name}}
    </div>
    <div>

        {{product.price}}
    </div>
    <div>
        <img [src]="product.img" alt="" srcset="">
    </div>

</div>