<h2>{{title.title}}</h2>
<div>
    <div>
        <label for="search">{{label.search}}</label>
    </div>
    <div>
        [(ngModel)]
        <input type="text" [(ngModel)]="filter" name="search">
    </div>
    <div>
        [ngModel]
        <input type="text" (blur)="onBlur()" [ngModel]="filter" name="search">
    </div>
    <div>
        (click)<button (click)="onClick()">{{btn.search}}</button>
    </div>
    <div (dblclick)="filter = ''">
        {{filter}}
    </div>
</div>
<div class="product">
    <button (click)="changeLightState()">{{btn.switch}}</button>
    <div class="lamp {{light}}" *ngIf="light">
        {{light}}
    </div>
    {{!!light}}
</div>
<div class="products">

    <div *ngFor="let p of products">
        <div>
            {{p.name}}
        </div>
        <div>
            {{p.price|currency:'₪'}}
        </div>
        <div>
            <img [src]="p.img" [alt]="p.name" srcset="">
        </div>
    </div>
</div>