$test: solid 1px red;
$header-hight: 10vh;
:host {
    display: grid;
    grid-template-rows: $header-hight 100vh - $header-hight;
    direction: rtl;
}
.wrapper {
    outline: $test;
    display: grid;
    grid-template-columns: 1fr 1fr;
    app-feed {
        outline: $test;
        background-color: rgba(152, 192, 185, 0.637);
    }
}
button {
}
